@{
    ViewData["Title"] = "Trajnimet";
    ViewData["MenuNo"] = 2;
    ViewData["HeaderNo"] = 1;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title">Trajnimet</h3>
        <div class="card-toolbar">
            <a asp-controller="Training" asp-action="Add" class="btn btn-secondary">
                Shto
            </a>
        </div>
    </div>
    <div class="card-body">
        asd
    </div>
</div>