@model Contract

@{
    ViewData["Title"] = "Add Contract";
    ViewData["MenuNo"] = 4;
    ViewData["HeaderNo"] = 1;
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card shadow-sm">
    <div class="card-header">
        <h3 class="card-title mb-0">Add Contract</h3>
    </div>
    <div class="card-body">
        <form asp-action="Add" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-label">First Name</label>
                        <input type="text" class="form-control" placeholder="First Name" asp-for="FirstName" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-label">Last Name</label>
                        <input type="text" class="form-control" placeholder="Last Name" asp-for="LastName" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-label">Personal Number</label>
                        <input type="text" class="form-control" asp-for="PersonalNumber" placeholder="Personal Number" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-label">Address</label>
                        <input type="text" class="form-control" placeholder="Address" asp-for="Address" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label class="form-label">Training Price</label>
                        <input type="number" class="form-control" asp-for="Price" placeholder="Price" />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-label">Contract Date</label>
                        <input type="text" class="form-control" placeholder="Contract Date" asp-for="ContractDate" />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-label">Start Date</label>
                        <input type="text" class="form-control" placeholder="Start Date" asp-for="StartDate" />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="form-group">
                        <label class="form-label">End Date</label>
                        <input type="text" class="form-control" asp-for="EndDate" placeholder="EndDate" />
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="d-flex justify-content-between mt-5">
                        <button type="submit" class="btn btn-primary">Ruaj</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts{ 
    <partial name="~/Views/Shared/_ValidationScriptsPartial.cshtml" />
}