<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inspire Hub</title>
    @*<meta name="description" content="Learn what you love! Be inspired to pursue your passions through the joy of learning!">*@
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="~/assets/css/style.css" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Inspire Hub" />
    <meta property="og:description" content="Learn what you love! Be inspired to pursue your passions through the joy of learning!" />
    <meta property="og:image" content="https://inspirehub.info/assets/images/image-1.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/favicon/images/icons/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/favicon/images/icons/icon-128x128.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/favicon/images/icons/icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/favicon/images/icons/icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicon/images/icons/icon-192x192.png">
    @*<link rel="apple-touch-icon" href="~/favicon/images/icons/icon-192x192.png" />*@
    <link rel="manifest" href="~/favicon/manifest.json">
</head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CCTBDT0H0F"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CCTBDT0H0F');
</script>
<body>

    <div class="d-flex justify-content-center">
        <div class="alert-box">
            <svg xmlns="http://www.w3.org/2000/svg" width="47" height="47" viewBox="0 0 47 47" fill="none">
                <path d="M20.2917 34.0416L36.4479 17.8853L33.2396 14.677L20.2917 27.6249L13.7604 21.0937L10.5521 24.302L20.2917 34.0416ZM23.5 46.4166C20.3299 46.4166 17.3507 45.8146 14.5625 44.6107C11.7743 43.4069 9.34896 41.7744 7.28646 39.7135C5.22396 37.651 3.59153 35.2256 2.38917 32.4374C1.18681 29.6492 0.584864 26.6701 0.583336 23.4999C0.583336 20.3298 1.18528 17.3506 2.38917 14.5624C3.59306 11.7742 5.22549 9.34888 7.28646 7.28638C9.34896 5.22388 11.7743 3.59145 14.5625 2.38909C17.3507 1.18672 20.3299 0.58478 23.5 0.583252C26.6701 0.583252 29.6493 1.1852 32.4375 2.38909C35.2257 3.59297 37.651 5.2254 39.7135 7.28638C41.776 9.34888 43.4092 11.7742 44.6131 14.5624C45.817 17.3506 46.4182 20.3298 46.4167 23.4999C46.4167 26.6701 45.8147 29.6492 44.6108 32.4374C43.4069 35.2256 41.7745 37.651 39.7135 39.7135C37.651 41.776 35.2257 43.4092 32.4375 44.613C29.6493 45.8169 26.6701 46.4181 23.5 46.4166ZM23.5 41.8332C28.6181 41.8332 32.9531 40.0572 36.5052 36.5051C40.0573 32.953 41.8333 28.618 41.8333 23.4999C41.8333 18.3819 40.0573 14.0468 36.5052 10.4947C32.9531 6.94263 28.6181 5.16658 23.5 5.16658C18.3819 5.16658 14.0469 6.94263 10.4948 10.4947C6.94271 14.0468 5.16667 18.3819 5.16667 23.4999C5.16667 28.618 6.94271 32.953 10.4948 36.5051C14.0469 40.0572 18.3819 41.8332 23.5 41.8332Z" fill="#FEFFFF" />
            </svg>
            <div class="alert-content">
                <p class="m-0">Your application has been submitted successfully!</p>
                <span>Check your email for confirmation.</span>
            </div>
            <div class="closeButton">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <div class="top-nav"></div>
      <header class="" id="top-header">
      <div class="container-fluid">
        <div class="headerWrapper">
            
          <a class="logo d-none d-md-inline" href="/">
            @*<img src="~/assets/images/logo.svg" alt="" />*@
            <svg xmlns="http://www.w3.org/2000/svg" width="188" height="51" viewBox="0 0 188 51" fill="none">
                <g clip-path="url(#clip0_42_2026)">
                    <path d="M32.5323 4.75759C31.344 3.56344 29.931 2.61654 28.3747 1.97159C26.8184 1.32664 25.1498 0.996418 23.4652 1C21.7795 0.99626 20.1097 1.32638 18.5523 1.97131C16.9948 2.61625 15.5805 3.56322 14.3909 4.75759C13.8622 5.28901 13.3814 5.86602 12.954 6.48192H4.63413C4.02528 6.4797 3.42207 6.59862 2.85961 6.83175C2.29715 7.06487 1.78669 7.40754 1.35792 7.83982C0.926285 8.26907 0.584032 8.77963 0.350953 9.34198C0.117875 9.90432 -0.00140335 10.5073 1.24576e-05 11.116V30.3566C-0.000481497 32.7968 0.623901 35.1965 1.81366 37.327C3.00343 39.4575 4.71893 41.2479 6.79672 42.5275L18.1485 49.511L29.4931 42.5275C31.5718 41.2482 33.2883 39.4581 34.4793 37.3277C35.6703 35.1972 36.2961 32.7974 36.297 30.3566V13.8318C36.2977 12.147 35.9655 10.4787 35.3194 8.92266C34.6733 7.36664 33.7261 5.95362 32.5323 4.76478M23.4652 4.76478C25.8336 4.76251 28.1085 5.68848 29.8021 7.34408C28.1328 7.9804 26.6154 8.95939 25.3476 10.218C24.6264 10.9344 23.9944 11.7353 23.4652 12.6033C22.936 11.7353 22.304 10.9344 21.5828 10.218C20.3172 8.9567 18.7991 7.97732 17.1283 7.34408C18.8186 5.68257 21.095 4.75339 23.4652 4.75759M3.75042 11.1089C3.75037 10.9928 3.77319 10.8778 3.81757 10.7706C3.86195 10.6633 3.92702 10.5659 4.00907 10.4838C4.177 10.3213 4.40048 10.2288 4.63413 10.2251H11.1506C10.8077 11.3918 10.6335 12.6015 10.6333 13.8175V14.1336H3.75042V11.1089ZM10.6333 29.6884H8.73659V17.9056H10.6333V29.6884ZM3.75042 17.9056H5.65436V29.6884H3.75042V17.9056ZM7.19188 38.1448C5.79845 36.8695 4.77147 35.2447 4.21742 33.4389H10.1663C9.61519 35.246 8.58777 36.8716 7.19188 38.1448ZM10.3531 40.3002C12.9422 37.6348 14.3906 34.0653 14.3909 30.3494V23.5096C15.6589 23.9715 16.8008 24.7245 17.7246 25.7081C19.1144 27.2209 19.9282 29.174 20.0237 31.226C20.0449 31.7055 20.0281 32.186 19.9734 32.6629C19.7306 34.7223 18.7537 36.6251 17.2217 38.0227C15.7267 39.4173 13.7886 40.2413 11.747 40.3505C11.2891 40.3718 10.8303 40.3574 10.3747 40.3074M32.5395 30.3566C32.539 32.1577 32.0763 33.9285 31.1957 35.4997C30.3152 37.0709 29.0462 38.3898 27.5102 39.3303L18.1701 45.078L15.4399 43.3968C17.0605 42.8351 18.5476 41.9447 19.8082 40.7816C21.9834 38.779 23.372 36.0655 23.7238 33.1299C23.8071 32.4387 23.8336 31.7419 23.8029 31.0464C23.7246 29.5243 23.3691 28.0293 22.7539 26.635H23.4724C25.1568 26.637 26.8249 26.306 28.381 25.6612C29.937 25.0163 31.3503 24.0702 32.5395 22.8774V30.3566ZM29.8811 20.2478C29.0388 21.0907 28.0387 21.7594 26.9378 22.2156C25.8369 22.6717 24.6568 22.9064 23.4652 22.9061C22.2734 22.9071 21.0932 22.6728 19.9922 22.2167C18.8912 21.7605 17.8911 21.0914 17.0493 20.2478C16.2048 19.4051 15.5352 18.4039 15.079 17.3015C14.6228 16.1992 14.389 15.0176 14.3909 13.8247C14.3911 12.715 14.5931 11.6145 14.9873 10.5772C16.4781 10.9948 17.8365 11.7891 18.9317 12.8835C20.2047 14.1537 21.0702 15.7746 21.4176 17.5391H25.52C25.8674 15.7746 26.7329 14.1537 28.0059 12.8835C29.1016 11.7918 30.4562 10.9958 31.9431 10.57C32.3425 11.6086 32.547 12.7119 32.5466 13.8247C32.5486 15.0176 32.3148 16.1992 31.8586 17.3015C31.4024 18.4039 30.7328 19.4051 29.8883 20.2478" fill="#021255" />
                    <path d="M10.6333 17.8984H8.73657V29.6813H10.6333V17.8984Z" fill="#FDD422" />
                    <path d="M5.65433 17.8984H3.75757V29.6813H5.65433V17.8984Z" fill="#FDD422" />
                    <path d="M3.75049 11.1088C3.75044 10.9928 3.77326 10.8778 3.81764 10.7706C3.86202 10.6633 3.92709 10.5659 4.00914 10.4838C4.17707 10.3213 4.40055 10.2288 4.6342 10.2251H11.1507C10.8078 11.3918 10.6336 12.6015 10.6334 13.8175V14.1336H3.75049V11.1088Z" fill="#FB553B" />
                    <path d="M23.4652 4.75043C25.8336 4.74816 28.1085 5.67413 29.8021 7.32973C28.1315 7.96763 26.612 8.94635 25.3404 10.2036C24.6253 10.9236 23.996 11.724 23.4652 12.5889C22.9342 11.7222 22.3023 10.9215 21.5828 10.2036C20.3172 8.94235 18.7991 7.96297 17.1283 7.32973C18.8186 5.66822 21.095 4.73904 23.4652 4.74324" fill="#FDD422" />
                    <path d="M10.3531 40.3074C12.9422 37.642 14.3906 34.0725 14.3909 30.3566V23.5096C15.6589 23.9715 16.8008 24.7245 17.7246 25.7082C19.1144 27.2209 19.9282 29.174 20.0237 31.226C20.0449 31.7056 20.0281 32.186 19.9734 32.6629C19.7306 34.7223 18.7537 36.6252 17.2217 38.0227C15.726 39.4163 13.7883 40.2402 11.747 40.3505C11.2891 40.3719 10.8303 40.3575 10.3747 40.3074" fill="#29D197" />
                    <path d="M32.5395 30.3566C32.539 32.1577 32.0763 33.9286 31.1958 35.4997C30.3152 37.0709 29.0462 38.3898 27.5102 39.3303L18.1701 45.0781L15.4399 43.3968C17.0605 42.8351 18.5477 41.9448 19.8082 40.7816C21.9834 38.779 23.372 36.0655 23.7239 33.1299C23.8072 32.4387 23.8336 31.7419 23.8029 31.0464C23.7246 29.5243 23.3691 28.0294 22.754 26.635H23.4724C25.1568 26.637 26.825 26.306 28.381 25.6612C29.9371 25.0163 31.3503 24.0703 32.5395 22.8774V30.3566Z" fill="#8452FF" />
                    <path d="M29.8811 20.2478C29.0388 21.0908 28.0386 21.7594 26.9377 22.2156C25.8368 22.6717 24.6568 22.9064 23.4651 22.9061C22.2734 22.9071 21.0931 22.6728 19.9921 22.2167C18.8911 21.7605 17.891 21.0914 17.0492 20.2478C16.2047 19.4051 15.5352 18.4039 15.0789 17.3016C14.6227 16.1993 14.3889 15.0176 14.3909 13.8247C14.391 12.715 14.5931 11.6145 14.9872 10.5772C16.4781 10.9948 17.8364 11.7891 18.9316 12.8835C20.2046 14.1537 21.0701 15.7746 21.4175 17.5392H25.52C25.8674 15.7746 26.7328 14.1537 28.0059 12.8835C29.1015 11.7918 30.4562 10.9959 31.9431 10.57C32.3424 11.6086 32.547 12.7119 32.5466 13.8247C32.5486 15.0176 32.3147 16.1993 31.8585 17.3016C31.4023 18.4039 30.7327 19.4051 29.8882 20.2478" fill="white" />
                    <path d="M7.19187 38.1448C5.79844 36.8695 4.77146 35.2447 4.21741 33.4388H10.1663C9.61518 35.246 8.58775 36.8715 7.19187 38.1448Z" fill="white" />
                </g>
                <g clip-path="url(#clip1_42_2026)">
                    <path d="M46.3717 35.3205V16.7962H51.4574V35.3179L46.3717 35.3205Z" fill="#021456" />
                    <path d="M64.9244 16.3625C67.0547 16.3625 68.749 17.0628 70.0075 18.4635C71.2659 19.8641 71.8952 21.7426 71.8952 24.0989V35.3205H66.8121V24.904C66.8121 22.1339 65.7188 20.7488 63.5323 20.7488C62.2282 20.7488 61.1991 21.1816 60.4451 22.0473C59.6911 22.913 59.314 24.0937 59.314 25.5896V35.3205H54.231V16.7962H57.7163L58.7024 19.0893C59.443 18.2308 60.3702 17.5473 61.4153 17.0896C62.5178 16.6 63.7151 16.3519 64.9244 16.3625Z" fill="#021456" />
                    <path d="M81.1069 35.8399C78.7499 35.8399 76.8481 35.234 75.4016 34.022C73.9551 32.8101 73.2274 31.2104 73.2186 29.2228H78.1646C78.1525 29.5726 78.2257 29.9202 78.378 30.2365C78.5303 30.5528 78.7573 30.8285 79.0399 31.0407C79.7048 31.4932 80.5027 31.7169 81.3099 31.677C81.9761 31.6993 82.6347 31.5306 83.2055 31.1913C83.4482 31.0529 83.6484 30.8523 83.7848 30.6109C83.9213 30.3695 83.9889 30.0963 83.9806 29.8201C83.9838 29.5387 83.8909 29.2643 83.717 29.041C83.4961 28.7865 83.2117 28.5932 82.8917 28.4801C82.534 28.3327 82.1645 28.2146 81.7871 28.1269C81.4233 28.0438 80.9487 27.9503 80.3581 27.8516C79.8309 27.7616 79.3835 27.6802 79.0162 27.6075C78.6523 27.5348 78.2252 27.4257 77.6979 27.2803C77.2507 27.1617 76.8156 27.0026 76.3982 26.805C76.006 26.6065 75.6328 26.3735 75.283 26.109C74.917 25.8441 74.6011 25.518 74.3497 25.1455C74.0946 24.7486 73.8993 24.3173 73.7697 23.8652C73.6116 23.3269 73.5343 22.7687 73.5403 22.2083C73.5218 21.3831 73.7016 20.5653 74.0649 19.8216C74.4282 19.0778 74.9649 18.4292 75.631 17.9285C77.0248 16.8308 78.8501 16.2811 81.1069 16.2794C83.3637 16.2777 85.1829 16.8438 86.5644 17.9778C87.2328 18.5202 87.7669 19.2056 88.126 19.9819C88.4851 20.7581 88.6597 21.6049 88.6366 22.4577H83.8092C83.8247 22.1445 83.7641 21.8323 83.6325 21.5468C83.5009 21.2613 83.3021 21.0109 83.0526 20.8163C82.5587 20.4493 81.8645 20.2658 80.9698 20.2658C80.3177 20.2287 79.6708 20.3989 79.1243 20.7514C78.9107 20.895 78.7372 21.0891 78.6197 21.316C78.5023 21.5429 78.4446 21.7953 78.452 22.0499C78.4491 22.2374 78.4869 22.4233 78.5627 22.5953C78.6478 22.7696 78.7837 22.9152 78.9529 23.0134C79.1401 23.1302 79.3167 23.2315 79.4802 23.3146C79.7201 23.4263 79.971 23.5133 80.229 23.5743C80.5638 23.6574 80.8353 23.7198 81.0436 23.7587L82.0059 23.9327C83.8303 24.2582 85.1486 24.5932 85.9606 24.9378C87.9871 25.8311 89.0013 27.3945 89.0031 29.6279C89.0319 30.4972 88.8513 31.3608 88.476 32.1481C88.1007 32.9353 87.5413 33.6238 86.8438 34.1571C85.399 35.2773 83.4867 35.8382 81.1069 35.8399Z" fill="#021456" />
                    <path d="M100.88 16.2768C102.644 16.2526 104.384 16.689 105.921 17.5415C107.405 18.366 108.626 19.5808 109.449 21.0501C110.286 22.5914 110.725 24.3127 110.725 26.061C110.725 27.8093 110.286 29.5305 109.449 31.0719C108.627 32.5461 107.406 33.7663 105.921 34.596C104.385 35.4534 102.645 35.8926 100.88 35.8685C99.0358 35.8868 97.2308 35.3425 95.7128 34.3103V41.9948H90.6298V16.804H93.978L94.8454 18.4946C96.5 17.0303 98.6563 16.2378 100.88 16.2768ZM96.7912 29.6825C97.7783 30.6101 99.0902 31.1277 100.454 31.1277C101.819 31.1277 103.131 30.6101 104.118 29.6825C105.054 28.6963 105.574 27.3967 105.574 26.0467C105.574 24.6967 105.054 23.3971 104.118 22.4109C103.13 21.4839 101.819 20.9667 100.454 20.9667C99.0903 20.9667 97.7786 21.4839 96.7912 22.4109C95.8578 23.3942 95.3385 24.6901 95.3385 26.0363C95.3385 27.3825 95.8578 28.6784 96.7912 29.6617V29.6825Z" fill="#021456" />
                    <path d="M112.272 35.3205V16.7962H117.355V35.3179L112.272 35.3205Z" fill="#021456" />
                    <path d="M129.734 16.6975H131.4V21.4214H129.206C127.779 21.4214 126.756 21.753 126.137 22.4161C125.519 23.0792 125.21 24.1708 125.212 25.6909V35.3205H120.129V16.7962H123.377L124.276 19.0737C125.568 17.4896 127.387 16.6975 129.734 16.6975Z" fill="#021456" />
                    <path d="M151.136 25.9921C151.136 26.4846 151.103 26.9765 151.036 27.4646H136.799C137.015 28.7267 137.529 29.6954 138.339 30.3707C139.203 31.0645 140.294 31.4246 141.408 31.3835C142.229 31.3961 143.04 31.2002 143.762 30.8147C144.443 30.4511 145.006 29.9056 145.386 29.241H150.722C150.099 31.1827 148.855 32.874 147.177 34.0631C145.498 35.2522 143.475 35.8754 141.408 35.8399C139.663 35.8604 137.946 35.4172 136.435 34.557C134.961 33.7193 133.746 32.5007 132.924 31.0329C132.088 29.501 131.651 27.7893 131.651 26.0505C131.651 24.3118 132.088 22.6001 132.924 21.0682C133.74 19.601 134.951 18.3843 136.425 17.5519C137.964 16.7102 139.697 16.272 141.458 16.2792C143.219 16.2865 144.948 16.739 146.48 17.5934C147.939 18.4316 149.133 19.6515 149.931 21.1176C150.743 22.6168 151.157 24.2933 151.136 25.9921ZM141.413 20.5384C140.381 20.5098 139.37 20.8357 138.555 21.4604C137.744 22.1215 137.176 23.028 136.942 24.0392H146.053C145.772 23.0156 145.168 22.1064 144.329 21.4422C143.487 20.8305 142.461 20.5158 141.416 20.5488L141.413 20.5384Z" fill="#021456" />
                    <path d="M157.237 16.7183H158.555V22.6913H157.237V20.2216H154.954V22.6913H153.636V16.7183H154.954V19.0218H157.237V16.7183Z" fill="#021456" />
                    <path d="M163.828 22.1512C163.333 22.5831 162.695 22.8216 162.034 22.8216C161.373 22.8216 160.735 22.5831 160.24 22.1512C160.005 21.9325 159.819 21.667 159.696 21.3724C159.573 21.0778 159.515 20.7608 159.525 20.4424V16.7183H160.844V20.3826C160.836 20.5451 160.861 20.7074 160.918 20.8599C160.975 21.0125 161.063 21.1523 161.176 21.2708C161.288 21.3821 161.423 21.4691 161.571 21.5263C161.72 21.5835 161.879 21.6097 162.038 21.6032C162.196 21.6096 162.354 21.5834 162.502 21.5261C162.649 21.4689 162.783 21.3819 162.895 21.2708C163.007 21.1521 163.095 21.0123 163.151 20.8597C163.208 20.7071 163.233 20.5449 163.224 20.3826V16.7183H164.543V20.432C164.554 20.752 164.496 21.0708 164.373 21.3672C164.25 21.6635 164.064 21.9308 163.828 22.1512Z" fill="#021456" />
                    <path d="M169.156 19.5412C169.416 19.6706 169.632 19.8708 169.779 20.1177C169.929 20.376 170.005 20.6694 170 20.967C170.002 21.1984 169.953 21.4276 169.856 21.6384C169.759 21.8492 169.617 22.0366 169.438 22.1875C169.07 22.5206 168.586 22.701 168.086 22.6913H165.51V16.7182H168.009C168.484 16.7016 168.947 16.8579 169.312 17.1572C169.478 17.2891 169.612 17.4565 169.704 17.6467C169.795 17.837 169.841 18.0452 169.839 18.2557C169.842 18.5109 169.78 18.7627 169.661 18.9891C169.541 19.2155 169.367 19.4096 169.154 19.5542L169.156 19.5412ZM168.384 18.9153C168.445 18.8554 168.493 18.7837 168.525 18.7045C168.557 18.6254 168.572 18.5407 168.568 18.4556C168.572 18.3706 168.557 18.2857 168.526 18.2065C168.494 18.1273 168.446 18.0556 168.384 17.996C168.318 17.9365 168.24 17.8905 168.156 17.8607C168.072 17.8308 167.983 17.8176 167.893 17.822H166.802V19.0919H167.893C167.983 19.0962 168.073 19.0828 168.157 19.0524C168.241 19.0221 168.318 18.9755 168.384 18.9153ZM167.965 21.5123C168.061 21.5181 168.157 21.5045 168.248 21.4723C168.338 21.4402 168.422 21.3901 168.492 21.3253C168.619 21.196 168.69 21.0233 168.69 20.8436C168.69 20.6638 168.619 20.4911 168.492 20.3618C168.422 20.297 168.338 20.247 168.248 20.2149C168.157 20.1827 168.061 20.1691 167.965 20.1749H166.802V21.5123H167.965Z" fill="#021456" />
                    <path d="M49.1005 9H48.7076C47.2122 9 46 10.1941 46 11.6671V11.6697C46 13.1427 47.2122 14.3368 48.7076 14.3368H49.1005C50.5958 14.3368 51.8081 13.1427 51.8081 11.6697V11.6671C51.8081 10.1941 50.5958 9 49.1005 9Z" fill="#021456" />
                    <path d="M115.012 9H114.619C113.123 9 111.911 10.1941 111.911 11.6671V11.6697C111.911 13.1427 113.123 14.3368 114.619 14.3368H115.012C116.507 14.3368 117.719 13.1427 117.719 11.6697V11.6671C117.719 10.1941 116.507 9 115.012 9Z" fill="#021456" />
                </g>
                <defs>
                    <clipPath id="clip0_42_2026">
                        <rect width="36.297" height="48.511" fill="white" transform="translate(0 1)" />
                    </clipPath>
                    <clipPath id="clip1_42_2026">
                        <rect width="124" height="33" fill="white" transform="translate(46 9)" />
                    </clipPath>
                </defs>
            </svg>
          </a>
          <a class="logo d-inline d-md-none" href="/">
            @*<img src="~/assets/images/mobileLogo.svg" alt="" />*@
            <svg xmlns="http://www.w3.org/2000/svg" width="38" height="53" viewBox="0 0 38 53" fill="none">
                <g clip-path="url(#clip0_11_1168)">
                    <path d="M34.0586 4.10531C32.8146 2.80065 31.3352 1.76613 29.706 1.0615C28.0767 0.356869 26.3298 -0.00391011 24.5661 3.82771e-06C22.8013 -0.00408295 21.0532 0.356587 19.4227 1.0612C17.7922 1.76581 16.3115 2.80041 15.0661 4.10531C14.5126 4.68591 14.0092 5.31631 13.5618 5.98919H4.85155C4.21414 5.98678 3.58263 6.1167 2.99378 6.3714C2.40493 6.62609 1.87051 7.00047 1.42163 7.47275C0.969744 7.94172 0.611433 8.49953 0.367419 9.11391C0.123405 9.7283 -0.0014692 10.3871 1.30421e-05 11.0521V32.0732C-0.000504087 34.7392 0.653173 37.3609 1.89876 39.6886C3.14434 42.0162 4.94033 43.9723 7.11561 45.3703L19 53L30.8769 45.3703C33.0531 43.9726 34.8502 42.0169 36.097 39.6893C37.3439 37.3617 37.999 34.7398 38 32.0732V14.0193C38.0007 12.1785 37.6529 10.3558 36.9765 8.65579C36.3001 6.95578 35.3085 5.41201 34.0586 4.11316M24.5661 4.11316C27.0456 4.11068 29.4273 5.12234 31.2003 6.93114C29.4527 7.62634 27.8641 8.69592 26.5368 10.0709C25.7818 10.8537 25.1201 11.7287 24.5661 12.677C24.0121 11.7287 23.3504 10.8537 22.5954 10.0709C21.2704 8.69298 19.6811 7.62298 17.9319 6.93114C19.7015 5.11588 22.0848 4.10071 24.5661 4.10531M3.92638 11.0443C3.92633 10.9175 3.95022 10.7919 3.99668 10.6747C4.04314 10.5575 4.11126 10.4511 4.19716 10.3614C4.37297 10.1838 4.60694 10.0828 4.85155 10.0788H11.6738C11.3148 11.3534 11.1324 12.675 11.1322 14.0036V14.3489H3.92638V11.0443ZM11.1322 31.3432H9.14649V18.4699H11.1322V31.3432ZM3.92638 18.4699H5.91964V31.3432H3.92638V18.4699ZM7.52931 40.5821C6.0705 39.1887 4.99534 37.4136 4.41529 35.4406H10.6433C10.0663 37.415 8.99068 39.191 7.52931 40.5821ZM10.8389 42.9369C13.5494 40.0248 15.0658 36.1251 15.0661 32.0653V24.5926C16.3936 25.0971 17.589 25.9199 18.5562 26.9945C20.0112 28.6472 20.8632 30.7811 20.9632 33.023C20.9854 33.5469 20.9678 34.0718 20.9105 34.5929C20.6563 36.8428 19.6335 38.9218 18.0297 40.4486C16.4645 41.9723 14.4355 42.8726 12.2981 42.9919C11.8188 43.0152 11.3384 42.9994 10.8614 42.9448M34.0661 32.0732C34.0656 34.0409 33.5812 35.9756 32.6594 37.6922C31.7375 39.4087 30.409 40.8497 28.8009 41.8772L19.0226 48.1568L16.1643 46.3201C17.8609 45.7063 19.4179 44.7336 20.7375 43.4628C23.0148 41.2749 24.4685 38.3104 24.8369 35.1031C24.9241 34.3479 24.9518 33.5866 24.9196 32.8267C24.8377 31.1638 24.4655 29.5305 23.8215 28.0071H24.5736C26.337 28.0093 28.0835 27.6477 29.7125 26.9432C31.3416 26.2387 32.8211 25.2051 34.0661 23.9018V32.0732ZM31.2831 21.0289C30.4013 21.9499 29.3542 22.6804 28.2016 23.1788C27.0491 23.6771 25.8137 23.9335 24.5661 23.9332C23.3184 23.9343 22.0828 23.6784 20.9302 23.18C19.7775 22.6816 18.7305 21.9506 17.8492 21.0289C16.9651 20.1082 16.2641 19.0143 15.7865 17.81C15.3089 16.6057 15.0641 15.3148 15.0661 14.0114C15.0662 12.799 15.2778 11.5968 15.6904 10.4634C17.2513 10.9197 18.6733 11.7874 19.8199 12.9831C21.1526 14.3709 22.0587 16.1418 22.4224 18.0696H26.7174C27.0811 16.1418 27.9871 14.3709 29.3199 12.9831C30.467 11.7904 31.8851 10.9208 33.4418 10.4556C33.8599 11.5903 34.0741 12.7957 34.0736 14.0114C34.0757 15.3148 33.8309 16.6057 33.3533 17.81C32.8757 19.0143 32.1747 20.1082 31.2906 21.0289" fill="#021255" />
                    <path d="M11.1322 18.4621H9.14648V31.3353H11.1322V18.4621Z" fill="#FDD422" />
                    <path d="M5.91983 18.4621H3.93408V31.3353H5.91983V18.4621Z" fill="#FDD422" />
                    <path d="M3.92627 11.0443C3.92622 10.9174 3.95011 10.7919 3.99657 10.6747C4.04303 10.5575 4.11116 10.451 4.19705 10.3613C4.37286 10.1838 4.60683 10.0828 4.85144 10.0788H11.6737C11.3147 11.3534 11.1323 12.675 11.1321 14.0035V14.3489H3.92627V11.0443Z" fill="#FB553B" />
                    <path d="M24.5663 4.09747C27.0458 4.09499 29.4275 5.10665 31.2005 6.91545C29.4516 7.61238 27.8608 8.68167 26.5295 10.0553C25.7808 10.8419 25.1221 11.7164 24.5663 12.6613C24.0104 11.7144 23.3489 10.8396 22.5956 10.0553C21.2706 8.67729 19.6813 7.60729 17.9321 6.91545C19.7017 5.10019 22.085 4.08502 24.5663 4.08962" fill="#FDD422" />
                    <path d="M10.8389 42.9448C13.5494 40.0327 15.0658 36.1329 15.0661 32.0732V24.5926C16.3936 25.0972 17.589 25.9199 18.5562 26.9945C20.0112 28.6473 20.8631 30.7811 20.9632 33.023C20.9854 33.5469 20.9678 34.0719 20.9105 34.5929C20.6563 36.8428 19.6335 38.9218 18.0297 40.4486C16.4638 41.9711 14.4352 42.8713 12.2981 42.9919C11.8188 43.0152 11.3384 42.9994 10.8614 42.9448" fill="#29D197" />
                    <path d="M34.0659 32.0732C34.0654 34.0409 33.581 35.9756 32.6591 37.6922C31.7373 39.4087 30.4087 40.8497 28.8006 41.8772L19.0223 48.1569L16.1641 46.3201C17.8607 45.7063 19.4176 44.7336 20.7373 43.4628C23.0145 41.275 24.4683 38.3104 24.8367 35.1031C24.9239 34.348 24.9515 33.5866 24.9194 32.8267C24.8374 31.1638 24.4653 29.5305 23.8212 28.0071H24.5734C26.3368 28.0093 28.0832 27.6478 29.7123 26.9432C31.3413 26.2387 32.8209 25.2051 34.0659 23.9018V32.0732Z" fill="#8452FF" />
                    <path d="M31.2829 21.0289C30.4011 21.9499 29.354 22.6804 28.2014 23.1788C27.0489 23.6771 25.8135 23.9335 24.5659 23.9332C23.3182 23.9344 22.0826 23.6784 20.93 23.18C19.7773 22.6816 18.7303 21.9506 17.849 21.0289C16.9649 20.1083 16.2639 19.0144 15.7863 17.8101C15.3087 16.6058 15.0639 15.3148 15.0659 14.0114C15.0661 12.799 15.2776 11.5968 15.6902 10.4634C17.2511 10.9198 18.6731 11.7875 19.8197 12.9831C21.1524 14.371 22.0585 16.1419 22.4222 18.0696H26.7172C27.0809 16.1419 27.9869 14.371 29.3197 12.9831C30.4668 11.7905 31.885 10.9208 33.4416 10.4556C33.8597 11.5903 34.0739 12.7957 34.0735 14.0114C34.0755 15.3148 33.8307 16.6058 33.3531 17.8101C32.8755 19.0144 32.1745 20.1083 31.2904 21.0289" fill="white" />
                    <path d="M7.52906 40.5821C6.07025 39.1887 4.99508 37.4136 4.41504 35.4406H10.6431C10.0661 37.415 8.99043 39.191 7.52906 40.5821Z" fill="white" />
                </g>
                <defs>
                    <clipPath id="clip0_11_1168">
                        <rect width="38" height="53" fill="white" />
                    </clipPath>
                </defs>
            </svg>
          </a>
          <nav>
            <ul>
              <li>
                <a onclick="onMenuClick()" class="" href="#top-section">HOME</a>
              </li>
              <li>
                <a onclick="onMenuClick()" class="" href="#training-section"
                  >TRAININGS</a
                >
              </li>
              <li>
                <a onclick="onMenuClick()" class="" href="#contact-section"
                  >CONTACT</a
                >
              </li>
              <li>
                <a
                  class="social-icon d-none d-md-inline"
                  href="https://www.facebook.com/profile.php?id=100090775030464"
                  target="_blank"
                >
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <g clip-path="url(#clip0_42_2055)">
                            <path d="M24 12C24 5.376 18.624 0 12 0C5.376 0 0 5.376 0 12C0 17.808 4.128 22.644 9.6 23.76V15.6H7.2V12H9.6V9C9.6 6.684 11.484 4.8 13.8 4.8H16.8V8.4H14.4C13.74 8.4 13.2 8.94 13.2 9.6V12H16.8V15.6H13.2V23.94C19.26 23.34 24 18.228 24 12Z" fill="#8452FF" />
                        </g>
                        <defs>
                            <clipPath id="clip0_42_2055">
                                <rect width="24" height="24" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </a>

                <a
                  class="social-icon d-none d-md-inline"
                  href="https://www.instagram.com/inspirehub_/"
                  target="_blank"
                >
                    @*<img src="~/assets/images/icons/instagram.svg" alt="" />*@
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                        <g clip-path="url(#clip0_42_2057)">
                            <path d="M7.15995 0H17.24C21.08 0 24.2 3.12 24.2 6.96V17.04C24.2 18.8859 23.4667 20.6562 22.1614 21.9615C20.8562 23.2667 19.0859 24 17.24 24H7.15995C3.31995 24 0.199951 20.88 0.199951 17.04V6.96C0.199951 5.11409 0.933235 3.34379 2.23849 2.03854C3.54374 0.733284 5.31404 0 7.15995 0ZM6.91995 2.4C5.77422 2.4 4.67541 2.85514 3.86525 3.6653C3.05509 4.47546 2.59995 5.57427 2.59995 6.72V17.28C2.59995 19.668 4.53195 21.6 6.91995 21.6H17.48C18.6257 21.6 19.7245 21.1449 20.5347 20.3347C21.3448 19.5245 21.8 18.4257 21.8 17.28V6.72C21.8 4.332 19.868 2.4 17.48 2.4H6.91995ZM18.5 4.2C18.8978 4.2 19.2793 4.35804 19.5606 4.63934C19.8419 4.92064 20 5.30218 20 5.7C20 6.09783 19.8419 6.47936 19.5606 6.76066C19.2793 7.04197 18.8978 7.2 18.5 7.2C18.1021 7.2 17.7206 7.04197 17.4393 6.76066C17.158 6.47936 17 6.09783 17 5.7C17 5.30218 17.158 4.92064 17.4393 4.63934C17.7206 4.35804 18.1021 4.2 18.5 4.2ZM12.2 6C13.7913 6 15.3174 6.63214 16.4426 7.75736C17.5678 8.88258 18.2 10.4087 18.2 12C18.2 13.5913 17.5678 15.1174 16.4426 16.2426C15.3174 17.3679 13.7913 18 12.2 18C10.6087 18 9.08253 17.3679 7.95731 16.2426C6.83209 15.1174 6.19995 13.5913 6.19995 12C6.19995 10.4087 6.83209 8.88258 7.95731 7.75736C9.08253 6.63214 10.6087 6 12.2 6ZM12.2 8.4C11.2452 8.4 10.3295 8.77928 9.65437 9.45442C8.97924 10.1295 8.59995 11.0452 8.59995 12C8.59995 12.9548 8.97924 13.8705 9.65437 14.5456C10.3295 15.2207 11.2452 15.6 12.2 15.6C13.1547 15.6 14.0704 15.2207 14.7455 14.5456C15.4207 13.8705 15.8 12.9548 15.8 12C15.8 11.0452 15.4207 10.1295 14.7455 9.45442C14.0704 8.77928 13.1547 8.4 12.2 8.4Z" fill="#8452FF" />
                        </g>
                        <defs>
                            <clipPath id="clip0_42_2057">
                                <rect width="24" height="24" fill="white" transform="translate(0.199951)" />
                            </clipPath>
                        </defs>
                    </svg>
                </a>

                <a
                  class="social-icon d-inline d-md-none p-35"
                  href="https://www.facebook.com/profile.php?id=100090775030464"
                  target="_blank"
                >
                  <img src="~/assets/images/icons/facebookWhite.svg" alt="" />
                </a>
                <a
                  class="social-icon d-inline d-md-none"
                  href="https://www.instagram.com/inspirehub_/"
                  target="_blank"
                >
                  <img src="~/assets/images/icons/instagramWhite.svg" alt="" />
                </a>
              </li>
            </ul>
          </nav>
          <div class="burgerMenu" onclick="openNavLinks()">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
      </div>
    </header>
    <div class="container-fluid">
        @RenderBody()
    </div>
    @*<div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>*@

    <footer>
      <div class="container-fluid">
        <div class="footer-wrapper w-100 d-flex justify-content-between">
          <a class="navbar-brand d-none d-md-inline" href="#">
            <img
              src="~/assets/images/logo.svg"
              alt="Bootstrap"
              width="188"
              height="50"
            />
          </a>
            <a class="navbar-brand d-inline d-md-none" href="#">
                <img 
                    src="~/assets/images/footerLogoIcon.svg"
                    alt="Bootstrap"
                    width="188"
                    height="50" 
                />
            </a>
          <div class="w-100 align-content-center d-flex flex-column-reverse flex-sm-row flex-md-row">
            <p class="w-100 d-flex align-items-center justify-content-center">
              © @DateTime.Now.Year Inspire Hub. All rights reserved.
            </p>
            <ul class="w-auto d-flex justify-content-center justify-md-content-end m-0 p-0">
              <li class="nav-social-icons nav-item p-0 d-flex align-items-center">
                <a href="https://www.facebook.com/profile.php?id=100090775030464">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <g clip-path="url(#clip0_42_2055)">
                            <path d="M24 12C24 5.376 18.624 0 12 0C5.376 0 0 5.376 0 12C0 17.808 4.128 22.644 9.6 23.76V15.6H7.2V12H9.6V9C9.6 6.684 11.484 4.8 13.8 4.8H16.8V8.4H14.4C13.74 8.4 13.2 8.94 13.2 9.6V12H16.8V15.6H13.2V23.94C19.26 23.34 24 18.228 24 12Z" fill="#8452FF" />
                        </g>
                        <defs>
                            <clipPath id="clip0_42_2055">
                                <rect width="24" height="24" fill="white" />
                            </clipPath>
                        </defs>
                    </svg>
                </a>
                <a href="https://www.instagram.com/inspirehub_/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="24" viewBox="0 0 25 24" fill="none">
                        <g clip-path="url(#clip0_42_2057)">
                            <path d="M7.15995 0H17.24C21.08 0 24.2 3.12 24.2 6.96V17.04C24.2 18.8859 23.4667 20.6562 22.1614 21.9615C20.8562 23.2667 19.0859 24 17.24 24H7.15995C3.31995 24 0.199951 20.88 0.199951 17.04V6.96C0.199951 5.11409 0.933235 3.34379 2.23849 2.03854C3.54374 0.733284 5.31404 0 7.15995 0ZM6.91995 2.4C5.77422 2.4 4.67541 2.85514 3.86525 3.6653C3.05509 4.47546 2.59995 5.57427 2.59995 6.72V17.28C2.59995 19.668 4.53195 21.6 6.91995 21.6H17.48C18.6257 21.6 19.7245 21.1449 20.5347 20.3347C21.3448 19.5245 21.8 18.4257 21.8 17.28V6.72C21.8 4.332 19.868 2.4 17.48 2.4H6.91995ZM18.5 4.2C18.8978 4.2 19.2793 4.35804 19.5606 4.63934C19.8419 4.92064 20 5.30218 20 5.7C20 6.09783 19.8419 6.47936 19.5606 6.76066C19.2793 7.04197 18.8978 7.2 18.5 7.2C18.1021 7.2 17.7206 7.04197 17.4393 6.76066C17.158 6.47936 17 6.09783 17 5.7C17 5.30218 17.158 4.92064 17.4393 4.63934C17.7206 4.35804 18.1021 4.2 18.5 4.2ZM12.2 6C13.7913 6 15.3174 6.63214 16.4426 7.75736C17.5678 8.88258 18.2 10.4087 18.2 12C18.2 13.5913 17.5678 15.1174 16.4426 16.2426C15.3174 17.3679 13.7913 18 12.2 18C10.6087 18 9.08253 17.3679 7.95731 16.2426C6.83209 15.1174 6.19995 13.5913 6.19995 12C6.19995 10.4087 6.83209 8.88258 7.95731 7.75736C9.08253 6.63214 10.6087 6 12.2 6ZM12.2 8.4C11.2452 8.4 10.3295 8.77928 9.65437 9.45442C8.97924 10.1295 8.59995 11.0452 8.59995 12C8.59995 12.9548 8.97924 13.8705 9.65437 14.5456C10.3295 15.2207 11.2452 15.6 12.2 15.6C13.1547 15.6 14.0704 15.2207 14.7455 14.5456C15.4207 13.8705 15.8 12.9548 15.8 12C15.8 11.0452 15.4207 10.1295 14.7455 9.45442C14.0704 8.77928 13.1547 8.4 12.2 8.4Z" fill="#8452FF" />
                        </g>
                        <defs>
                            <clipPath id="clip0_42_2057">
                                <rect width="24" height="24" fill="white" transform="translate(0.199951)" />
                            </clipPath>
                        </defs>
                    </svg>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <div class="bottonDiv"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/javascript/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>*@
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
